.contenedor {
    display: grid;
      
    grid-gap: 1em;
    grid-template-columns: 1fr;

    
}
.d1 {
    height: 200px;
    background-color: black;
  
}
.d2 {
    background-color: blue;
    height: 200px;
}
.d3 {
    background-color: red;
    height: 200px;
}
.d4 {
    background-color: green;
    height: 200px;
}
.d5 {
    background-color: yellow;
    height: 200px;
}
.d6 {
    background-color: brown;
    height: 200px;
}
.d7 {
    background-color: darkmagenta;
    height: 200px;
}
.d8 {
    background-color: grey;
    height: 200px;
}
.d9 {
    background-color: darkred;
    height: 200px;    
}

@media (min-width: 321px){
    .contenedor {
        display: grid;        
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 768px){
    .contenedor {
        display: grid;        
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
    }
}